<app-current-selections></app-current-selections>


<h3>Issue 1</h3>
<p>
  Make a selection in the field below, then click on the selection in the select
  bar above.
</p>
<p>
  The expected context list box does not appear and the whole Stardust instance
  appears to fall over. Check developer console for errors
</p>
<div style="width: 300px">
  <app-qlik-filter [qlikFilterDefinition]="filter"></app-qlik-filter>
</div>

<h3>Issue 2</h3>

<p>
  Edit the embed instance in the source code at
  [src/app/shared/services/app-init.service.ts]. Change <i>theme: 'light'</i> on line
  31 to <i>theme: 'dark'</i>. Recompile and observe the listbox above.
</p>

<p>
  The main list body for the listbox no longer responds to the theme - all the
  other elements such as the context menu for selections and then after a
  selection is made do respond.
</p>
